.container {
    padding: 200px 200px 200px 200px;
}

body {
    background-color: #F4F9E2;
    
 
  

}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
.page-caption { 
    
    
    
font-family: 'Larsseit';
font-size: 24px;


letter-spacing: -0.035em;

color: #62D0DF;

}

.about {
  
  word-spacing: 30px;

font-family: 'Larsseit';
font-size: 14px;

color: #22356F;

}


.contact {
    font-family: 'Larsseit';
    color: #FFFFFF;
    align-self: center;
    


   
}
.contactbutton
{
   
    padding: 15px;
    background: #62D0DF;
    border: 1px solid #62D0DF;

border-radius: 50px;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   
}

.main-header-1 {
 margin-top: 50px;
font-family: 'Larsseit';
font-size: 24px;


color: #62D0DF;
}

.main-header-2
{
    
margin-top: 50px;

font-family: 'Larsseit';
font-size: 48px;
letter-spacing: -0.035em;

color: #22356F;
}

.main-text {
    font-family: 'Larsseit';
font-size: 24px;
color: #22356F;
}

.page-footer
{
    
    display: flex;
    align-items: center;
    
}


.footer-caption-2
{
    font-family: 'Larsseit';
font-size: 16px;
letter-spacing: 0.1em;
padding-left: 100px;

color: #FAB63E;
}


.footer-caption-1 {
    font-family: 'Larsseit';
    align-self: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    background: #F9B640;
    


}

.buttonfooter-caption-1 {
    padding: 5px;
}